PassDataApp/pkgs/Wadl/Myflow12345.xml

<application xmlns:xml="http://www.w3.org/XML/1998/namespace" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:service="https://india-001.azure-apim.net/apim/logicflows" xmlns:siena="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11" siena:serviceId="Myflow12345" xmlns="http://wadl.dev.java.net/2009/02">
  <doc title="Myflow12345" />
  <grammars>
    <jsonTypes targetNamespace="https://india-001.azure-apim.net/apim/logicflows" xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
      <string dtype="hyperlink" name="ManualTriggerInput_HTTP_URI_def" />
      <string name="ManualTriggerInput_HTTP_URI_1_def" />
      <string name="ManualTriggerInput_HTTP_URI_2_def" />
      <string name="ManualTriggerInput_HTTP_URI_3_def" />
      <object name="ManualTriggerInput">
        <property name="HTTP_URI" type="string" dtype="hyperlink" />
        <property name="HTTP_URI_1" type="string" />
        <property name="HTTP_URI_2" type="string" />
        <property name="HTTP_URI_3" type="string" />
      </object>
      <string name="ResponseActionOutput_extractedtext1_def" />
      <object name="ResponseActionOutput">
        <property name="extractedtext1" type="string" />
      </object>
      <object name="Run_responses_default_def" />
    </jsonTypes>
  </grammars>
  <resources siena:authenticationProviderHref="#PowerAppAuth" base="https://india-001.azure-apim.net/apim/logicflows">
    <resource path="/{connectionId}/triggers/manual/run">
      <param style="template" name="connectionId" type="xs:string" required="true" />
      <method siena:requiresAuthentication="true" name="POST" id="Run">
        <doc title="Runs a logic flow trigger." />
        <request>
          <param style="query" name="api-version" type="xs:string" required="true" fixed="2015-02-01-preview">
            <doc title="The api version" />
          </param>
          <representation mediaType="application/json">
            <param style="plain" name="HTTP_URI" path="/HTTP_URI" type="xs:anyURI" siena:dtype="hyperlink" required="true" />
            <param style="plain" name="HTTP_URI_1" path="/HTTP_URI_1" type="xs:string" required="true" />
            <param style="plain" name="HTTP_URI_2" path="/HTTP_URI_2" type="xs:string" required="true" />
            <param style="plain" name="HTTP_URI_3" path="/HTTP_URI_3" type="xs:string" required="true" />
          </representation>
        </request>
        <response>
          <representation mediaType="application/json" element="service:ResponseActionOutput" />
        </response>
      </method>
    </resource>
  </resources>
  <authenticationProviders xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <connectionProvider id="PowerAppAuth" siena:connectionProviderId="logicflows" />
  </authenticationProviders>
  <template xmlns="http://schemas.microsoft.com/MicrosoftProjectSiena/WADL/2014/11">
    <variable name="connectionId">
      <modifyParams style="template" name="connectionId" attribute="fixed" />
    </variable>
  </template>
</application>